<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!-- 
      Following are the settings used by the Wallet Sample Application
      which are used to connect/interact with the Wallet API.
    -->

    <!-- Sandbox Test Project -->
    <add key="RequestUrl" value="https://sandbox.api.mastercard.com/oauth/consumer/v1/request_token"/>
    <add key="ShoppingCartUrl" value="https://sandbox.api.mastercard.com/masterpass/v6/shopping-cart"/>
    <add key="AccessUrl" value="https://sandbox.api.mastercard.com/oauth/consumer/v1/access_token"/>
    <add key="PostbackUrl" value="https://sandbox.api.mastercard.com/masterpass/v6/transaction"/>
    <add key="PrecheckoutUrl" value="https://sandbox.api.mastercard.com/masterpass/v6/precheckout"/>
    <add key="MerchantInitUrl" value="https://sandbox.api.mastercard.com/masterpass/v6/merchant-initialization"/>
    <add key="LightboxUrl" value="https://sandbox.masterpass.com/lightbox/Switch/integration/MasterPass.client.js"/>
    <add key="PairingCallbackPath" value="/O3_PairingCallback"/>
    <add key="CartCallbackPath" value="/C2_ReviewOrder"/>
    <add key="CallbackDomain" value="http://projectabc.com" />
    <add key="CallbackPath" value="/O3_Callback?walletid=1" />
    <add key="ConnectedCallbackPath" value="/O3_Callback?connect=true" />
    <!--<add key="ConsumerKey" value="cLb0tKkEJhGTITp_6ltDIibO5Wgbx4rIldeXM_jRd4b0476c!414f4859446c4a366c726a327474695545332b353049303d" />-->    <!--SDK-->
    <add key="ConsumerKey" value="zmwhNF4l51C6xK8h3WFCAoHqYl9k5XqqF_Q0MAie24ba7db9!41492b46533669444b6666314e7a51537633685a45434d3d" />    <!--sandbox-->
    <add key="CheckoutIdentifier" value="a4a6x1ywxlkxzhensyvad1hepuouaesuv" />    <!--SDK-->
    <!--<add key="KeystorePath" value="~/Certs/Sandbox/4150646d616f4e7241573033634b4a654b535041376a413d.p12" />-->    <!--SDK-->
    <!--<add key="KeystorePath" value="~/Certs/Sandbox/414f4859446c4a366c726a327474695545332b353049303d.p12" />-->
    <add key="KeystorePath" value="~/Certs/Sandbox/MCOpenAPI.p12" />
    <add key="KeystorePassword" value="12345" />
    <!--<add key="KeystorePassword" value="changeit" />-->
    <add key="Realm" value="eWallet"/>
    <add key="Auth_Level_Basic" value="false" />
    <add key="XmlVersion" value="v2" />
    <add key="ShippingSuppression" value="false" />
    <add key="ShippingProfiles" value="US,CA,FR,MEX,NA,UK" />
    <add key="AllowedLoyaltyPrograms" value="4878508, 4735583" />
    <!-- END Sandbox Test Project -->
    
    <!-- Production Test Project -->
    <!--<add key="RequestUrl" value="https://api.mastercard.com/oauth/consumer/v1/request_token"/>
    <add key="ShoppingCartUrl" value="https://api.mastercard.com/masterpass/v6/shopping-cart"/>
    <add key="AccessUrl" value="https://api.mastercard.com/oauth/consumer/v1/access_token"/>
    <add key="PostbackUrl" value="https://api.mastercard.com/masterpass/v6/transaction"/>
    <add key="PrecheckoutUrl" value="https://api.mastercard.com/masterpass/v6/precheckout"/>
    <add key="MerchantInitUrl" value="https://api.mastercard.com/masterpass/v6/merchant-initialization"/>
    <add key="LightboxUrl" value="https://masterpass.com/lightbox/Switch/integration/MasterPass.client.js"/>
    <add key="PairingCallbackPath" value="/O3_PairingCallback"/>
    <add key="CartCallbackPath" value="/C2_ReviewOrder"/>
    <add key="CallbackDomain" value="http://projectabc.com" />
    <add key="CallbackPath" value="/O3_Callback" />
    <add key="ConnectedCallbackPath" value="/O3_Callback?connect=true" />
    <add key="ConsumerKey" value="xh0_s-ZJ07Q59hAtj_EzP77upms1dPmlz1_4gAPxbceff7cb!666d36344257733552382f644934794a314d55792f773d3d" />
    <add key="CheckoutIdentifier" value="a4a6w4vd3oxx6ih55dqw41ihpq79jnhalo" />
    <add key="KeystorePath" value="~/Certs/Prod/MCOpenAPI.p12" /> 
    <add key="KeystorePassword" value="12345" />
    <add key="Realm" value="eWallet"/>
    <add key="Auth_Level_Basic" value="false" />
    <add key="XmlVersion" value="v2" />
    <add key="ShippingSuppression" value="false" />
    <add key="ShippingProfiles" value="US,CA,FR,MEX,NA,UK" />
    <add key="AllowedLoyaltyPrograms" value="4878508, 4735583" />-->
    <!-- END Sandbox Test Project -->
    
    <!-- MTF Test Project -->
    <!--<add key="RequestUrl" value="https://api.mastercard.com/oauth/consumer/v1/request_token"/>
    <add key="ShoppingCartUrl" value="https://api.mastercard.com/mtf/masterpass/v6/shopping-cart"/>
    <add key="AccessUrl" value="https://api.mastercard.com/oauth/consumer/v1/access_token"/>
    <add key="PostbackUrl" value="https://api.mastercard.com/mtf/masterpass/v6/transaction"/>
    <add key="PrecheckoutUrl" value="https://api.mastercard.com/mtf/masterpass/v6/precheckout"/>
    <add key="MerchantInitUrl" value="https://api.mastercard.com/mtf/masterpass/v6/merchant-initialization"/>
    <add key="CheckoutUrl" value="https://api.mastercard.com/mtf/masterpass/v6/checkout"/>
    <add key="LightboxUrl" value="https://mtf.masterpass.com/lightbox/Switch/integration/MasterPass.client.js"/>
    <add key="PairingCallbackPath" value="/O3_PairingCallback"/>
    <add key="CartCallbackPath" value="/C2_ReviewOrder"/>
    <add key="CallbackDomain" value="http://projectabc.com" />
    <add key="CallbackPath" value="/O3_Callback" />
    <add key="ConnectedCallbackPath" value="/O3_Callback?connect=true" />
    <add key="ConsumerKey" value="RLqJXHB-mTyAPkXHLX5T2nqM-4gzB9xaZjBmzkR2ec493cc2!44346a53486c545745382b36643778327071374948673d3d" />
    <add key="CheckoutIdentifier" value="a4a6x55eoe28dhxdvtpd41hxgd7ufe14r7" />
    <add key="KeystorePath" value="~/Certs/MTF/MTFMCOpenAPI.p12" />
    <add key="KeystorePassword" value="lepassword" />
    <add key="Realm" value="eWallet"/>
    <add key="Auth_Level_Basic" value="false" />
    <add key="XmlVersion" value="v2" />
    <add key="ShippingSuppression" value="false" />
    <add key="ShippingProfiles" value="US,CA,FR,MEX,NA,UK" />
    <add key="AllowedLoyaltyPrograms" value="4878508" />-->
    <!-- END MTF Test Project -->
    
    <!-- Stage Test Project -->
    <!--<add key="RequestUrl" value="https://stage.api.mastercard.com/oauth/consumer/v1/request_token"/>
    <add key="ShoppingCartUrl" value="https://stage.api.mastercard.com/masterpass/v6/shopping-cart"/>
    <add key="AccessUrl" value="https://stage.api.mastercard.com/oauth/consumer/v1/access_token"/>
    <add key="PostbackUrl" value="https://stage.api.mastercard.com/masterpass/v6/transaction"/>
    <add key="PrecheckoutUrl" value="https://stage.api.mastercard.com/masterpass/v6/precheckout"/>
    <add key="MerchantInitUrl" value="https://stage.api.mastercard.com/masterpass/v6/merchant-initialization"/>
    <add key="CheckoutUrl" value="https://api.mastercard.com/mtf/masterpass/v6/checkout"/>
    <add key="LightboxUrl" value="https://mtf.masterpass.com/lightbox/Switch/integration/MasterPass.client.js"/>
    <add key="PairingCallbackPath" value="/O3_PairingCallback"/>
    <add key="CartCallbackPath" value="/C2_ReviewOrder"/>
    <add key="CallbackDomain" value="http://projectabc.com" />
    <add key="CallbackPath" value="/O3_Callback" />
    <add key="ConnectedCallbackPath" value="/O3_Callback?connect=true" />
    <add key="ConsumerKey" value="ca8orIOSNsSoGW2hfJ6aeDI4sQzUaWLg_JBuw0xF8b6e9e20!414d465850522b6d70504a64764c43436f325078565a493d" />
    <add key="CheckoutIdentifier" value="a4d6x6r6zhak9hvkkkl091hvofxxmat4y" />
    <add key="KeystorePath" value="~/Certs/Stage/StageMCOpenAPI.p12" />
    <add key="KeystorePassword" value="lepassword" />
    <add key="Realm" value="eWallet"/>
    <add key="Auth_Level_Basic" value="false" />
    <add key="XmlVersion" value="v2" />
    <add key="ShippingSuppression" value="false" />
    <add key="ShippingProfiles" value="US,CA,FR,MEX,NA,UK" />
    <add key="AllowedLoyaltyPrograms" value="4878508" />-->
    <!-- END Stage Test Project-->
    


  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument enabled="false">
      <files>
        <remove value="index.php" />
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Home/Index" />
      </files>
    </defaultDocument>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
